/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYM 1
#define NAV 2
#define FUN 3

&mt {
	flavor = "balanced";
	tapping-term-ms = <150>;
	quick-tap-ms = <0>;
};

&lt {
	flavor = "balanced";
	tapping-term-ms = <150>;
	quick-tap-ms = <0>;
};

/ {
	combos {
		compatible = "zmk,combos";

		combo_esc {
			timeout-ms = <40>;
			key-positions = <2 3>;
			bindings = <&kp ESC>;
			layers = <BASE>;
		};

		combo_tab {
			timeout-ms = <40>;
			key-positions = <12 13>;
			bindings = <&kp TAB>;
			layers = <BASE>;
		};

		combo_lpar {
			timeout-ms = <40>;
			key-positions = <11 12>;
			bindings = <&kp LPAR>;
			layers = <BASE>;
		};

		combo_f17 {
			timeout-ms = <40>;
			key-positions = <22 23>;
			bindings = <&kp F17>;
			layers = <BASE>;
		};

		combo_enter {
			timeout-ms = <40>;
			key-positions = <6 7>;
			bindings = <&kp ENTER>;
			layers = <BASE>;
		};

		combo_quote {
			timeout-ms = <40>;
			key-positions = <16 17>;
			bindings = <&kp SQT>;
			layers = <BASE>;
		};

		combo_rpar {
			timeout-ms = <40>;
			key-positions = <17 18>;
			bindings = <&kp RPAR>;
			layers = <BASE>;
		};

		combo_bslh {
			timeout-ms = <40>;
			key-positions = <26 27>;
			bindings = <&kp BSLH>;
			layers = <BASE>;
		};

		combo_pipe {
			timeout-ms = <40>;
			key-positions = <27 28>;
			bindings = <&kp PIPE>;
			layers = <BASE>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = "Base";
			bindings = <
			&kp Q        &kp W        &kp E        &kp R         &kp T             &kp Y       &kp U       &kp I        &kp O       &kp P
			&mt LCTRL A  &mt LALT S   &mt LGUI D   &mt LSHIFT F  &kp G             &kp H       &mt RSHIFT J &mt RGUI K   &mt RALT L  &mt RCTRL SEMI
			&kp Z        &kp X        &kp C        &kp V         &kp B             &kp N       &kp M       &kp COMMA    &kp DOT     &kp SLASH
										&kp SPACE    &mo NAV                          &mo SYM     &kp BSPC
			>;
		};

		sym_layer {
			label = "Sym";
			bindings = <
			&kp LBRC     &kp LPAR     &kp ASTR     &kp AMPS      &kp RBRC          &kp LBKT    &kp N7      &kp N8       &kp N9      &kp RBKT
			&kp PLUS     &kp CARET    &kp PRCNT    &kp DLLR      &kp UNDER         &kp MINUS   &kp N4      &kp N5       &kp N6      &kp EQUAL
			&kp TILDE    &kp HASH     &kp AT       &kp EXCL      &kp RPAR          &kp N0      &kp N1      &kp N2       &kp N3      &kp GRAVE
										&kp SPACE    &lt FUN BSPC                     &trans      &kp LSHIFT
			>;
		};

		nav_layer {
			label = "Nav";
			bindings = <
			&kp LG(W)    &kp LC(LS(TAB)) &kp LC(TAB) &kp LG(W)     &kp C_VOL_UP      &kp HOME    &kp PG_DN   &kp PG_UP    &kp END     &none
			&kp LCTRL    &kp LGUI        &kp LALT    &kp LC(LS(TAB)) &kp C_VOL_DN     &kp LEFT    &kp DOWN    &kp UP       &kp RIGHT   &kp C_AL_CALC
			&none        &kp LG(GRAVE)   &kp LG(LS(GRAVE)) &kp LG(V) &kp C_PP        &kp INS     &kp DEL     &kp C_PREV   &kp C_NEXT  &none
											 &lt FUN LCTRL &trans                           &lt FUN SPACE &kp LSHIFT
			>;
		};

		fun_layer {
			label = "Fun";
			bindings = <
			&kp F1       &kp F2       &kp F3       &kp F4        &kp F5            &kp CAPS    &none       &to BASE     &none       &none
			&kp F6       &kp F7       &kp F8       &kp F9        &kp F10           &none       &none       &none        &none       &none
			&none        &kp LC(LEFT) &kp LC(RIGHT) &kp F11      &kp F12           &none       &none       &kp PSCRN    &kp PAUSE_BREAK &none
										&sys_reset   &trans                          &trans      &sys_reset
			>;
		};
	};
};
